In [1]:
from google.colab import drive

In [3]:
from google.colab import files
uploaded = files.upload()

Saving indian_rainfall 1901-2015.csv to indian_rainfall 1901-2015.csv

In [4]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [5]:
rain_df= pd.read_csv('indian_rainfall 1901-2015.csv')
rain_df.head()

,SUBDIVISION,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL,Jan-Feb,Mar-May,Jun-Sep,Oct-Dec
0,ANDAMAN & NICOBAR ISLANDS,1901,49.2,87.1,29.2,2.3,528.8,517.5,365.1,481.1,332.6,388.5,558.2,33.6,3373.2,136.3,560.3,1696.3,980.3
1,ANDAMAN & NICOBAR ISLANDS,1902,0.0,159.8,12.2,0.0,446.1,537.1,228.9,753.7,666.2,197.2,359.0,160.5,3520.7,159.8,458.3,2185.9,716.7
2,ANDAMAN & NICOBAR ISLANDS,1903,12.7,144.0,0.0,1.0,235.1,479.9,728.4,326.7,339.0,181.2,284.4,225.0,2957.4,156.7,236.1,1874.0,690.6
3,ANDAMAN & NICOBAR ISLANDS,1904,9.4,14.7,0.0,202.4,304.5,495.1,502.0,160.1,820.4,222.2,308.7,40.1,3079.6,24.1,506.9,1977.6,571.0
4,ANDAMAN & NICOBAR ISLANDS,1905,1.3,0.0,3.3,26.9,279.5,628.7,368.7,330.5,297.0,260.7,25.4,344.7,2566.7,1.3,309.7,1624.9,630.8

In [6]:
rain_df=rain_df[["SUBDIVISION","YEAR","JAN","FEB","MAR","APR","MAY","JUN","JUL","AUG","SEP","OCT","NOV","DEC"]]
rain_df.head()

,SUBDIVISION,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
0,ANDAMAN & NICOBAR ISLANDS,1901,49.2,87.1,29.2,2.3,528.8,517.5,365.1,481.1,332.6,388.5,558.2,33.6
1,ANDAMAN & NICOBAR ISLANDS,1902,0.0,159.8,12.2,0.0,446.1,537.1,228.9,753.7,666.2,197.2,359.0,160.5
2,ANDAMAN & NICOBAR ISLANDS,1903,12.7,144.0,0.0,1.0,235.1,479.9,728.4,326.7,339.0,181.2,284.4,225.0
3,ANDAMAN & NICOBAR ISLANDS,1904,9.4,14.7,0.0,202.4,304.5,495.1,502.0,160.1,820.4,222.2,308.7,40.1
4,ANDAMAN & NICOBAR ISLANDS,1905,1.3,0.0,3.3,26.9,279.5,628.7,368.7,330.5,297.0,260.7,25.4,344.7

In [7]:
rain_df.count()

SUBDIVISION    4116
YEAR           4116
JAN            4112
FEB            4113
MAR            4110
APR            4112
MAY            4113
JUN            4111
JUL            4109
AUG            4112
SEP            4110
OCT            4109
NOV            4105
DEC            4106
dtype: int64

In [8]:
rain_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4116 entries, 0 to 4115
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SUBDIVISION  4116 non-null   object
 1   YEAR         4116 non-null   int64
 2   JAN          4112 non-null   float64
 3   FEB          4113 non-null   float64
 4   MAR          4110 non-null   float64
 5   APR          4112 non-null   float64
 6   MAY          4113 non-null   float64
 7   JUN          4111 non-null   float64
 8   JUL          4109 non-null   float64
 9   AUG          4112 non-null   float64
 10  SEP          4110 non-null   float64
 11  OCT          4109 non-null   float64
 12  NOV          4105 non-null   float64
 13  DEC          4106 non-null   float64
dtypes: float64(12), int64(1), object(1)
memory usage: 450.3+ KB

In [9]:
rain_df.isnull().sum()

SUBDIVISION     0
YEAR            0
JAN             4
FEB             3
MAR             6
APR             4
MAY             3
JUN             5
JUL             7
AUG             4
SEP             6
OCT             7
NOV            11
DEC            10
dtype: int64

In [10]:
rain_df=rain_df.fillna(rain_df.mean())

In [11]:
rain_df.isnull().sum()

SUBDIVISION    0
YEAR           0
JAN            0
FEB            0
MAR            0
APR            0
MAY            0
JUN            0
JUL            0
AUG            0
SEP            0
OCT            0
NOV            0
DEC            0
dtype: int64

In [12]:
rain_df.rename(columns={"JAN":1,"FEB":2,"MAR":3,"APR":4,"MAY":5,"JUN":6,"JUL":7,"AUG":8,"SEP":9,"OCT":10,"NOV":11,"DEC":12}, inplace = True)

In [13]:
rain_df.head()

,SUBDIVISION,YEAR,1,2,3,4,5,6,7,8,9,10,11,12
0,ANDAMAN & NICOBAR ISLANDS,1901,49.2,87.1,29.2,2.3,528.8,517.5,365.1,481.1,332.6,388.5,558.2,33.6
1,ANDAMAN & NICOBAR ISLANDS,1902,0.0,159.8,12.2,0.0,446.1,537.1,228.9,753.7,666.2,197.2,359.0,160.5
2,ANDAMAN & NICOBAR ISLANDS,1903,12.7,144.0,0.0,1.0,235.1,479.9,728.4,326.7,339.0,181.2,284.4,225.0
3,ANDAMAN & NICOBAR ISLANDS,1904,9.4,14.7,0.0,202.4,304.5,495.1,502.0,160.1,820.4,222.2,308.7,40.1
4,ANDAMAN & NICOBAR ISLANDS,1905,1.3,0.0,3.3,26.9,279.5,628.7,368.7,330.5,297.0,260.7,25.4,344.7

In [14]:
from google.colab import files
uploaded = files.upload()

Saving Max_temp.csv to Max_temp.csv

In [15]:
maxtemp_df=pd.read_csv("Max_temp.csv")
maxtemp_df.head()

,Year,Year.1,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Unnamed: 14
0,NaN,1901,9.65,11.38,16.27,20.56,23.29,25.00,23.68,22.61,22.00,19.52,14.28,10.93,NaN
1,NaN,1902,11.17,12.61,17.71,21.02,23.80,24.62,23.50,23.47,21.59,18.73,13.62,10.38,NaN
2,NaN,1903,10.34,11.57,15.54,20.21,22.93,24.90,23.84,22.73,21.83,18.53,13.20,10.00,NaN
3,NaN,1904,10.11,12.07,15.90,21.22,23.08,23.75,22.70,22.69,21.60,18.75,13.54,10.71,NaN
4,NaN,1905,9.24,10.28,14.63,18.76,23.72,25.21,23.45,23.12,21.86,19.01,14.63,10.50,NaN

In [16]:
maxtemp_df.count()

Year             0
Year.1         121
Jan            121
Feb            121
Mar            121
Apr            121
May            121
Jun            121
Jul            121
Aug            121
Sep            121
Oct            121
Nov            121
Dec            121
Unnamed: 14      0
dtype: int64

In [17]:
maxtemp_df.isnull().sum()

Year           121
Year.1           0
Jan              0
Feb              0
Mar              0
Apr              0
May              0
Jun              0
Jul              0
Aug              0
Sep              0
Oct              0
Nov              0
Dec              0
Unnamed: 14    121
dtype: int64

In [18]:
maxtemp_df.rename(columns={"Year":"YEAR","Jan":1,"Feb":2,"Mar":3,"Apr":4,"May":5,"Jun":6,"Jul":7,"Aug":8,"Sep":9,"Oct":10,"Nov":11,"Dec":12}, inplace = True)
maxtemp_df.head()

,YEAR,Year.1,1,2,3,4,5,6,7,8,9,10,11,12,Unnamed: 14
0,NaN,1901,9.65,11.38,16.27,20.56,23.29,25.00,23.68,22.61,22.00,19.52,14.28,10.93,NaN
1,NaN,1902,11.17,12.61,17.71,21.02,23.80,24.62,23.50,23.47,21.59,18.73,13.62,10.38,NaN
2,NaN,1903,10.34,11.57,15.54,20.21,22.93,24.90,23.84,22.73,21.83,18.53,13.20,10.00,NaN
3,NaN,1904,10.11,12.07,15.90,21.22,23.08,23.75,22.70,22.69,21.60,18.75,13.54,10.71,NaN
4,NaN,1905,9.24,10.28,14.63,18.76,23.72,25.21,23.45,23.12,21.86,19.01,14.63,10.50,NaN

In [19]:
from google.colab import files
uploaded = files.upload()

Saving Min_temp.csv to Min_temp.csv

In [20]:
mintemp_df=pd.read_csv('Min_temp.csv')
mintemp_df.head()

,Unnamed: 0,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Unnamed: 14
0,NaN,1901,23.64,25.67,31.19,34.84,36.59,35.52,31.61,30.00,30.91,31.28,27.57,24.78,NaN
1,NaN,1902,25.20,27.05,32.45,35.20,37.01,35.17,31.39,30.91,30.49,30.52,27.12,24.29,NaN
2,NaN,1903,24.35,25.91,30.24,34.45,36.22,35.47,31.80,30.12,30.73,30.27,26.46,23.89,NaN
3,NaN,1904,24.19,26.52,30.69,35.34,36.33,34.25,30.64,30.10,30.61,30.63,26.91,24.57,NaN
4,NaN,1905,23.24,24.68,29.30,33.06,36.98,35.83,31.38,30.46,30.77,30.73,28.06,24.31,NaN

In [21]:
mintemp_df.count()

Unnamed: 0       0
Year           121
Jan            121
Feb            121
Mar            121
Apr            121
May            121
Jun            121
Jul            121
Aug            121
Sep            121
Oct            121
Nov            121
Dec            121
Unnamed: 14      0
dtype: int64

In [22]:
mintemp_df.isnull().sum()

Unnamed: 0     121
Year             0
Jan              0
Feb              0
Mar              0
Apr              0
May              0
Jun              0
Jul              0
Aug              0
Sep              0
Oct              0
Nov              0
Dec              0
Unnamed: 14    121
dtype: int64

In [23]:
mintemp_df.rename(columns={"Year":"YEAR","Jan":1,"Feb":2,"Mar":3,"Apr":4,"May":5,"Jun":6,"Jul":7,"Aug":8,"Sep":9,"Oct":10,"Nov":11,"Dec":12}, inplace = True)
mintemp_df.head()

,Unnamed: 0,YEAR,1,2,3,4,5,6,7,8,9,10,11,12,Unnamed: 14
0,NaN,1901,23.64,25.67,31.19,34.84,36.59,35.52,31.61,30.00,30.91,31.28,27.57,24.78,NaN
1,NaN,1902,25.20,27.05,32.45,35.20,37.01,35.17,31.39,30.91,30.49,30.52,27.12,24.29,NaN
2,NaN,1903,24.35,25.91,30.24,34.45,36.22,35.47,31.80,30.12,30.73,30.27,26.46,23.89,NaN
3,NaN,1904,24.19,26.52,30.69,35.34,36.33,34.25,30.64,30.10,30.61,30.63,26.91,24.57,NaN
4,NaN,1905,23.24,24.68,29.30,33.06,36.98,35.83,31.38,30.46,30.77,30.73,28.06,24.31,NaN

In [24]:
from google.colab import files
uploaded = files.upload()

Saving Preceptions.csv to Preceptions.csv

In [25]:
preceptions_df=pd.read_csv("Preceptions.csv")
preceptions_df.head()

,Unnamed: 0,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Unnamed: 14
0,NaN,1901,30.13,20.05,21.32,25.99,55.09,111.72,248.29,257.81,121.30,60.70,37.99,NaN,NaN
1,NaN,1902,7.87,3.27,14.61,32.87,47.62,131.09,268.76,212.70,213.29,70.70,24.13,NaN,NaN
2,NaN,1903,10.44,6.54,11.69,13.66,60.66,157.74,303.66,273.62,190.55,97.88,37.06,NaN,NaN
3,NaN,1904,9.59,7.49,24.50,23.42,70.72,143.88,259.25,220.55,131.42,68.30,8.89,NaN,NaN
4,NaN,1905,17.64,15.43,24.89,31.64,51.35,83.52,252.51,222.41,194.31,54.27,9.88,NaN,NaN

In [26]:
preceptions_df.count()

Unnamed: 0       0
Year           121
Jan            121
Feb            121
Mar            121
Apr            121
May            121
Jun            121
Jul            121
Aug            121
Sep            121
Oct            121
Nov            121
Dec              0
Unnamed: 14      0
dtype: int64

In [27]:
preceptions_df.isnull().sum()

Unnamed: 0     121
Year             0
Jan              0
Feb              0
Mar              0
Apr              0
May              0
Jun              0
Jul              0
Aug              0
Sep              0
Oct              0
Nov              0
Dec            121
Unnamed: 14    121
dtype: int64

In [28]:
preceptions_df.rename(columns={"Year":"YEAR","Jan":1,"Feb":2,"Mar":3,"Apr":4,"May":5,"Jun":6,"Jul":7,"Aug":8,"Sep":9,"Oct":10,"Nov":11,"Dec":12}, inplace = True)
preceptions_df.head()

,Unnamed: 0,YEAR,1,2,3,4,5,6,7,8,9,10,11,12,Unnamed: 14
0,NaN,1901,30.13,20.05,21.32,25.99,55.09,111.72,248.29,257.81,121.30,60.70,37.99,NaN,NaN
1,NaN,1902,7.87,3.27,14.61,32.87,47.62,131.09,268.76,212.70,213.29,70.70,24.13,NaN,NaN
2,NaN,1903,10.44,6.54,11.69,13.66,60.66,157.74,303.66,273.62,190.55,97.88,37.06,NaN,NaN
3,NaN,1904,9.59,7.49,24.50,23.42,70.72,143.88,259.25,220.55,131.42,68.30,8.89,NaN,NaN
4,NaN,1905,17.64,15.43,24.89,31.64,51.35,83.52,252.51,222.41,194.31,54.27,9.88,NaN,NaN